<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container mt-5">
        <form action="/profile/edit" method="post">
            <h1>Edit Profile</h1>
            <div class="card">
                <div class="card-body">
                    Name : <h5 class="card-title"><input type="text" value="<%= profile.name %>" name="name"></h5>
                    Bio : <p class="card-text"><input type="text" value="<%= profile.bio %>" name="bio"></p>
                    <p class="card-text"><strong>Date of Birth:</strong> <input type="date" value="<%= profile.formatDate %>" name="dateOfBirth"></p>
                    <img src="<%= profile.photoURL %>" class="img-fluid" alt="Profile Photo" width="100px">
                    <button>edit</button>
                </div>
            </div>
        </div>
        </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
