<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Profile</title>
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      padding-top: 50px;
    }
    .card {
      background-color: #f8f8ff;
      border-color: #e6e6fa;
    }
    .card-title {
      color: #9370db;
      font-size: 20px;
    }
    .card-text {
      color: #808080;
      font-size: 16px;
    }
    .heart-icon {
      color: #ff4081;
      margin-right: 5px;
    }
  </style>
</head>
<body>
  <!-- Navbar -->
  <%-include('navbar') %>
  <!-- Content -->
  <form class="form-inline" style="width: 100%; display: flex; gap: 50px; padding: 0 50px;" action="/homepage" method="get">
    <input class="form-control mr-sm-2" style="display: flex; flex: 2;" type="search" placeholder="Search by name" aria-label="Search" width="100%" name="name">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="container">
    <h1 class="text-center mb-5">HOMEPAGE</h1>
    <div class="row">
      <% posts.forEach(el => { %>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <img src="<%= el.imageURL %>" class="img-fluid mb-3" alt="Profile Photo">
              <h5 class="card-title"><%= el.content %></h5>
              <h6 class="mb-2">Posted by: <%= el.Profile.name %></h6>
              <p class="mb-0"><span class="heart-icon">❤️</span> <%= el.likes %> likes</p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
